<div class='headerpic-wrapper'>
    <div class='header-wrapper'>
        <div class='header section' id='header'>
            <div class='widget Header' id='Header1'>
                <div id='header-inner'>
                    <div class='titlewrapper'>
                        <h1 class='title'>
                            Zikazev Blue
                        </h1>
                    </div>
                    <div class='descriptionwrapper'>
                        <p class='description'><span>Lovelytemplates.com for Blogger templates</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class='social-tooltip'>
            <ul>
                <li class='pinterest'><a href='/'><i class='icon-pinterest'></i></a></li>
                <li><a class='twitter' href='/'><i class='icon-twitter'></i></a></li>
                <li><a class='linkedin' href='/'><i class='icon-linkedin'></i></a></li>
                <li><a class='facebook' href='/'><i class='icon-facebook'></i></a></li>
                <li><a class='gplus' href='/'><i class='icon-google-plus'></i></a></li>
                <div class='menusearch'>
                    <form action='/search' class='searchform' method='get'>
                        <input class='searchfield' id='q' name='q' onblur='if(this.value==&#39;&#39;)this.value=this.defaultValue;' onfocus='if(this.value==this.defaultValue)this.value=&#39;&#39;' type='text' value='Search here....' />
                        <input class='searchbutton' src='http://4.bp.blogspot.com/-TWMP7OJKTHw/UdVehdgDETI/AAAAAAAAEuM/LRdqcm-2dNA/s24/search.png' style='cursor:pointer;vertical-align:top' type='image' value='Go' />
                    </form>
                </div>
            </ul>
        </div>
    </div>
</div><!-- /header-wrapper -->
