<div id='top-menuwrapper'>
    <div id='top-menuwrap'>
        <div id='top-menu'>
            <ul>
                <li><a href='http://www.ariansen.com'>Ariansen.com</a></li>
                <li><a href='/Blog/Contact'>Contact</a></li>
                <li><a href='http://localhost:61187/Home/About'>About</a></li>
            </ul>
        </div>
    </div>
</div><!-- /floating menu -->