
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ZikazevBlue.cshtml";
}

<h2>Index</h2>

<div class='post-outer'>
    <div class='post hentry'>
        <h2 class='post-title entry-title'>
            <a href='http://zikazev-blue-lovely.blogspot.no/2011/06/post-with-all-formatting-style.html'>Post with all formatting style</a>
        </h2>
        <div class='postmeta'>
            <span class='post-labels'>
                in

                <a href='http://zikazev-blue-lovely.blogspot.no/search/label/All%20in%20one' rel='tag'>All in one</a>
            </span>
            <span class='clock'>
                - on 6/25/2011
                - <a href='http://zikazev-blue-lovely.blogspot.no/2011/06/post-with-all-formatting-style.html#comment-form' onclick=''>24 comments</a>
            </span>
        </div>
        <div class='thumbnail'>
            <script type='text/javascript'>
//<![CDATA[
function bp_thumbnail_resize(e,d){var c=200;var a=true;var b="http://2.bp.blogspot.com/-erTXCq61ULM/TmHYAQBZ0GI/AAAAAAAACCs/6cBX54Dn6Gs/s72-c/default.png";if(a==true&&e==""){e=b}image_tag='<img src="'+e.replace("/s72-c/","/s"+c+"-c/")+'" class="postthumb" alt="'+d+'"/>';if(e!=""){return image_tag}else{return""}};
//]]>
            </script>
            <a href='http://zikazev-blue-lovely.blogspot.no/2011/06/post-with-all-formatting-style.html'>
                <script type='text/javascript'>
document.write(bp_thumbnail_resize("http://4.bp.blogspot.com/-WYDZUF2D8bE/TgaK9cSOTEI/AAAAAAAAAFQ/olHs9SydXts/s72-c/ratatouille-seine.jpg","Post with all formatting style"));
                </script>
            </a>
        </div>
        <div class='post-header'>
            <div class='post-header-line-1'></div>
        </div>
        <div class='post-body entry-content' id='post-body-1360609653208764810'>
            <div id='summary1360609653208764810'><div class="separator" style="clear: both; text-align: center;"><a href="http://4.bp.blogspot.com/-WYDZUF2D8bE/TgaK9cSOTEI/AAAAAAAAAFQ/olHs9SydXts/s1600/ratatouille-seine.jpg" imageanchor="1" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" src="http://4.bp.blogspot.com/-WYDZUF2D8bE/TgaK9cSOTEI/AAAAAAAAAFQ/olHs9SydXts/s1600/ratatouille-seine.jpg" /></a></div><a href="http://2.bp.blogspot.com/_NPR8XO-CMS0/TPhivPLfvcI/AAAAAAAAAQU/gm9QYfvrTPg/s1600/Forest.jpg" onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}"><br /></a>Visit <a href="http://www.lovelytemplates.com/">Lovelytemplates.com</a> for all your blogger template needs.  All top quality blogger templates under one roof.  You can use our advanced search feature to find your dream template in minutes.  Don't waste time searching in all sites.  Visit www.lovelytemplates.com today.<br /><br />This post has all different formatting style. <br /><a name='more'></a><br /><div><div><br /><br /><br /></div><div></div><div><u>Block quote:</u>   <br /><div><blockquote>loremizzle my ippzle dummy text -- Lorizzle pizzle dolor sit amizzle, shizzlin dizzle adipiscing elit. Cool sapien velizzle, the bizzle volutpat, suscipit the bizzle, shiznit vel, arcu. Fo shizzle my nizzle mofo tortor. Shut the shizzle up eros. Da bomb at dolor that's the shizzle turpizzle tempizzle sizzle. Maurizzle pellentesque check out this et turpizzle. My shizz izzle tortizzle.</blockquote><div><u>Unordered list</u>:</div></div><div><ul><li>A for Apple</li><li>B for Ball</li><li>C for Cat</li><li>D for Dog</li><li>E for Elephant</li><li>F for Funny :)</li></ul><div><u>Ordered list</u>:</div></div><div><ol><li>ONE is 1</li><li>TWO is 2</li><li>THREE is 3</li><li>FOUR is 4</li><li>FIVE is 5</li></ol><div><u>HTML Tags</u>:</div></div></div><div><br /></div><div><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><i style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; font-family: inherit; font-size: 14px; font-style: italic; font-weight: inherit; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;">Maecenizzle dope tortizzle vel enizzle (Italic)</i></span></div><div><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><i style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; font-family: inherit; font-size: 14px; font-style: italic; font-weight: inherit; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"></i> <span style="border-width: 0px; font-family: inherit; font-size: 14px; font-style: inherit; font-weight: inherit; margin: 0px; padding: 0px; text-decoration: line-through; vertical-align: baseline;">Maecenizzle dope tortizzle vel enizzle (strikethrough)</span></span></div><div><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><span style="border-width: 0px; font-family: inherit; font-size: 14px; font-style: inherit; font-weight: inherit; margin: 0px; padding: 0px; text-decoration: line-through; vertical-align: baseline;"></span> <span style="border-width: 0px; font-family: inherit; font-size: 14px; font-style: inherit; font-weight: inherit; margin: 0px; padding: 0px; text-decoration: underline; vertical-align: baseline;">Maecenizzle dope tortizzle vel enizzle (underline)</span></span></div><div><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b>Maecenizzle dope tortizzle vel enizzle (Bold)</b></span></div><div><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><br /></b></span></div><div><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;"></span></b></span><br /><h1 style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; color: #111111; font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; font-size: 3em; font-style: inherit; font-weight: normal; line-height: 1; margin-bottom: 0.5em; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;">Heading 1</span></b></span></h1><h2 style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; color: #111111; font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; font-size: 2em; font-style: inherit; font-weight: normal; margin-bottom: 0.75em; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;">Heading 2</span></b></span></h2><h3 style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; color: #111111; font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; font-size: 1.5em; font-style: inherit; font-weight: normal; line-height: 1; margin-bottom: 1em; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;">Heading 3</span></b></span></h3><h4 style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; color: #111111; font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; font-size: 1.2em; font-style: inherit; font-weight: normal; line-height: 1.25; margin-bottom: 1.25em; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;">Heading 4</span></b></span></h4><h5 style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; color: #111111; font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; font-size: 1em; font-style: inherit; font-weight: bold; margin-bottom: 1.5em; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;">Heading 5</span></b></span></h5><h6 style="border-bottom-width: 0px; border-color: initial; border-left-width: 0px; border-right-width: 0px; border-style: initial; border-top-width: 0px; color: #111111; font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; font-size: 1em; font-style: inherit; font-weight: bold; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; vertical-align: baseline;"><span class="Apple-style-span" style="color: #343639; font-family: Arial,Verdana; font-size: 14px; line-height: 20px;"><b><span class="Apple-style-span" style="font-weight: normal;">Heading 6</span></b></span></h6></div></div></div>
            <script type='text/javascript'>createSummaryAndThumb("summary1360609653208764810");</script>
            <div class='readmorecontent'><a href='http://zikazev-blue-lovely.blogspot.no/2011/06/post-with-all-formatting-style.html'><i class='icon-mail-forward' style='margin-right:10px'></i>Read more</a></div>
            <div style='clear: both;'></div>
        </div>
        <div class='post-footer'>
            <div class='post-footer-line post-footer-line-1'>
            </div>
            <div class='post-footer-line post-footer-line-2'>
                <span class='post-labels'>
                    Labels:
                    <a href='http://zikazev-blue-lovely.blogspot.no/search/label/All%20in%20one' rel='tag'>All in one</a>
                </span>
            </div>
            <div class='post-footer-line post-footer-line-3'>
                <span class='post-location'>
                </span>
            </div>
        </div>
    </div>
</div>
